body{
  font-family: var(--bs-font-sans-serif);
}

.p-3{
  padding: 1.3rem !important;
}
.logo{
  margin-left: 79px;
    width: 100px;
}
.navbar.navbar-expand-lg{
  font-size: x-large;
}
.carousel slide{
  width: 100%;
   align-items: center;
}
.text{
  width: 100%;
  height: 500px;
}
.about-us{
  margin-top: 101px;
  text-align: center;
}
.about{
  font-size: 3em;
  font-weight: 600;
}
.para{
  font-size: 1.25rem;
  font-weight: 300;
}
.section-heading{
  font-size: 3em;
  font-weight: 600;
}

.but{
  background-color: #d50000;
  border-radius: 30rem;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  padding: .375rem .75rem;
  color: white;
  border: 1px solid transparent;
  cursor: pointer;
  border-color: #d50000;
  margin-top: 24px;
}
.but:hover{
  background-color: blanchedalmond;
}
.footer-bg{
  background-color: #2A2A2A
}
.me-2{
  margin-right: .5rem !important
}
.link-light{
  color: #f8f9fa;
}












